@-webkit-keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

@keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  @font-face {
    font-family: 'LEMON MILK';
    src: local('LEMON MILK Regular'), local('LEMONMILK-Regular'),
        url('fonts/LEMONMILK-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LEMON MILK';
    src: local('LEMON MILK Medium Italic'), local('LEMONMILK-MediumItalic'),
        url('fonts/LEMONMILK-MediumItalic.woff2') format('woff2');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'LEMON MILK';
    src: local('LEMON MILK Regular Italic'), local('LEMONMILK-RegularItalic'),
        url('fonts/LEMONMILK-RegularItalic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'LEMON MILK';
    src: local('LEMON MILK Light'), local('LEMONMILK-Light'),
        url('fonts/LEMONMILK-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'LEMON MILK';
    src: local('LEMON MILK Bold'), local('LEMONMILK-Bold'),
        url('fonts/LEMONMILK-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'LEMON MILK';
    src: local('LEMON MILK Bold Italic'), local('LEMONMILK-BoldItalic'),
        url('fonts/LEMONMILK-BoldItalic.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'LEMON MILK';
    src: local('LEMON MILK Light Italic'), local('LEMONMILK-LightItalic'),
        url('fonts/LEMONMILK-LightItalic.woff2') format('woff2');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'LEMON MILK';
    src: local('LEMON MILK Medium'), local('LEMONMILK-Medium'),
        url('fonts/LEMONMILK-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'saxMono';
    src: local('saxMono'),
        url('fonts/saxMono.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}



body, html {
    box-sizing: border-box;
    height: 100%;
    margin: 0;
    padding: 0;
    background: rgb(23, 1, 59);
    position: absolute;
    inset: 0;
    z-index: 1;
    overflow:hidden;
    font-family: 'saxMono', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.gradient {
    z-index: -2;
    --size: 80vh;
    --speed: 35s;
    /* --easing: cubic-bezier(0.8, 0.2, 0.2, 0.8); */
    --easing: ease-in-out;
    width: var(--size);
    height: calc(var(--size));
    -webkit-filter: blur(calc(var(--size) / 7));
            filter: blur(calc(var(--size) / 7));
    /* background-image: linear-gradient(hsl(158, 82, 57, 85%), hsl(252, 82, 57)); */
    background: linear-gradient(75deg,hwb(300 0% 29%),hsl(255, 100%, 58%));
    -webkit-animation: rotate var(--speed) var(--easing) alternate infinite;
            animation: rotate var(--speed) var(--easing) alternate infinite;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
}
.centerbg {
    position: absolute;
    inset:0;
    display:flex;
    justify-content: center;
    align-items: center;
}
.gameboard {
    aspect-ratio: 1/1;
    border:2px solid yellow;
    box-sizing: border-box;
    display: grid;
    /* display:none; */
    grid-column: 3/11;
    grid-row: 3/8;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: clamp(300px, 60%, 600px);
    z-index: 6;
}

.cell {
    align-items: center;
    border:1px solid red;
    box-sizing: border-box;
    display: flex;
    font-family: 'Courier New', Courier, monospace;
    font-size: 7rem;
    font-weight: 900;
    justify-content: center;
    min-height: 5rem;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.clicked {
    pointer-events: none;
}

h1{
    text-align: center;
    z-index: 5;
    font-family: 'LEMON MILK', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: clamp(2rem,8vw,5rem);
}

.wrapper {
    z-index: 5;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(9, 1fr);
    height: 100%;
    justify-items: center;
}

header {
    grid-column: 1/13;
    grid-row: 1/2;
}

footer {
    grid-column: 1/13;
    grid-row: -1/-2;
}

.mainscreen {
    grid-column: 3/11;
    grid-row: 3/8;
    display:none;
}
  
  * {
    transition: all 0.25s ease-out;
  }
  .mainmenu {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    list-style: none;
    font-size: clamp(1rem,4vw,3rem);
    margin: 0;
    padding: 0;
    gap: 1rem;
  }