@-webkit-keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

@keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

@-webkit-keyframes slideoutleft {
    0% {
        opacity:1;
        transform: translate(0, 0);
    }
    100% {
        opacity:0;
        transform: translate(-200%, 0);
    }
}

@keyframes slideoutleft {
    0% {
        opacity:1;
        transform: translate(0, 0);
    }
    100% {
        opacity:0;
        transform: translate(-200%, 0);
    }
}

@-webkit-keyframes slideinleft {
    0% {
        opacity:0;
        transform: translate(200%, 0);
    }
    100% {
        opacity:1;
        transform: translate(0, 0);
    }
}

@keyframes slideinleft {
    0% {
        opacity:0;
        transform: translate(200%, 0);
    }
    100% {
        opacity:1;
        transform: translate(0, 0);
    }
}
@-webkit-keyframes slideoutright {
    0% {
        opacity:1;
        transform: translate(0, 0);
    }
    100% {
        opacity:0;
        transform: translate(200%, 0);
    }
}
@keyframes slideoutright {
    0% {
        opacity:1;
        transform: translate(0, 0);
        
    }
    100% {
        opacity:0;
        transform: translate(200%, 0);
    }
}

@-webkit-keyframes slideinright {
    0% {
        opacity:0;
        transform: translate(0, 0);
    }
    100% {
        opacity:1;
        transform: translate(10%, 0);
    }
}

@keyframes slideinright {
    0% {
        opacity:0;
        transform: translate(-200%, 0);
    }
    100% {
        opacity:1;
        transform: translate(0, 0);
    }
}
  @font-face {
    font-family: 'LEMON MILK';
    font-style: normal;
    font-weight: normal;
    src: local('LEMON MILK Regular'), local('LEMONMILK-Regular'),
        url('fonts/LEMONMILK-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'LEMON MILK';
    font-style: italic;
    font-weight: 500;
    src: local('LEMON MILK Medium Italic'), local('LEMONMILK-MediumItalic'),
        url('fonts/LEMONMILK-MediumItalic.woff2') format('woff2');
}

@font-face {
    font-family: 'LEMON MILK';
    font-style: italic;
    font-weight: normal;
    src: local('LEMON MILK Regular Italic'), local('LEMONMILK-RegularItalic'),
        url('fonts/LEMONMILK-RegularItalic.woff2') format('woff2');
}

@font-face {
    font-family: 'LEMON MILK';
    font-style: normal;
    font-weight: 300;
    src: local('LEMON MILK Light'), local('LEMONMILK-Light'),
        url('fonts/LEMONMILK-Light.woff2') format('woff2');
}

@font-face {
    font-family: 'LEMON MILK';
    font-style: normal;
    font-weight: bold;
    src: local('LEMON MILK Bold'), local('LEMONMILK-Bold'),
        url('fonts/LEMONMILK-Bold.woff2') format('woff2');
}

@font-face {
    font-family: 'LEMON MILK';
    font-style: italic;
    font-weight: bold;
    src: local('LEMON MILK Bold Italic'), local('LEMONMILK-BoldItalic'),
        url('fonts/LEMONMILK-BoldItalic.woff2') format('woff2');
}

@font-face {
    font-family: 'LEMON MILK';
    font-style: italic;
    font-weight: 300;
    src: local('LEMON MILK Light Italic'), local('LEMONMILK-LightItalic'),
        url('fonts/LEMONMILK-LightItalic.woff2') format('woff2');
}

@font-face {
    font-family: 'LEMON MILK';
    font-style: normal;
    font-weight: 500;
    src: local('LEMON MILK Medium'), local('LEMONMILK-Medium'),
        url('fonts/LEMONMILK-Medium.woff2') format('woff2');
}

@font-face {
    font-family: 'saxMono';
    font-style: normal;
    font-weight: normal;
    src: local('saxMono'),
        url('fonts/saxMono.woff2') format('woff2');
}



body, html {
    background: #609BDB;
    box-sizing: border-box;
    font-family: 'saxMono', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 100%;
    inset: 0;
    margin: 0;
    overflow-x:hidden;
    padding: 0;
    position: absolute;
    z-index: 1;
}
.gradient {
    -webkit-animation: rotate var(--speed) var(--easing) alternate infinite;
            animation: rotate var(--speed) var(--easing) alternate infinite;
    background: linear-gradient(75deg,hwb(300 0% 29%),hsl(255, 100%, 58%));
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    -webkit-filter: blur(calc(var(--size) / 7));
            filter: blur(calc(var(--size) / 7));
    height: calc(var(--size));
    width: var(--size);
    z-index: -2;
    --size: 80vh;
    --speed: 35s;
    --easing: ease-in-out;
    overflow: hidden;
}
.centerbg {
    overflow: hidden;
    align-items: center;
    display:flex;
    inset:0;
    justify-content: center;
    position: absolute;
}
.gameboard {
    aspect-ratio: 1/1;
    box-sizing: border-box;
    display: grid;
    gap: 3px;
    grid-column: 3/11;
    grid-row: 2/3;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    opacity: 0;
    transform: translateX(100vw);
    width: clamp(300px, 65%, 540px);
    z-index: 6;
}
.gameboard-info {
    align-items: center;
    color: white;
    display: flex;
    flex-flow: row wrap;
    grid-column: 3/11;
    grid-row: 3/4;
    justify-content: space-evenly;
    text-align: center;
    transform: translateX(200%);
    width: 100%;
    z-index: 8;

}
.cell {
    align-items: center;
    border:3px solid #ffffff96;
    border-radius: 4px;
    box-sizing: border-box;
    display: flex;
    font-family: 'Courier New', Courier, monospace;
    font-size: 7rem;
    font-weight: 900;
    justify-content: center;
    min-height: 5rem;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    color:darkgrey;
}

.clicked {
    pointer-events: none;
    /* background: hsl(264, 72%, 68%); */
}

h1{
    color: white;
    font-family: 'LEMON MILK', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: clamp(2rem,8vw,5rem);
    text-align: center;
    z-index: 5;
}

.wrapper {
    align-items: center;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 80px 1fr 50px;
    grid-auto-rows: -webkit-max-content;
    grid-auto-rows: max-content;
    height: 100%;
    justify-items: center;
    z-index: 5;
}

header {
    grid-column: 1/13;
    grid-row: 1/2;
}

footer {
    color: white;
    grid-column: 1/13;
    grid-row: 9/10;

}

.mainscreen, .settingsscreen {
    color: white;
    grid-column: 3/11;
    grid-row: 3/8;
    position: absolute;
    width: 100%;
    z-index: 4;
}
  
  * {
    transition: all 0.25s ease-out;
  }
  .mainmenu {
    align-items: center;
    display:flex;
    flex-direction: column;
    font-size: clamp(1rem,5vw,3rem);
    gap: 1rem;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .hideleft {
    -webkit-animation: slideoutleft 0.7s ease-in forwards;
            animation: slideoutleft 0.7s ease-in forwards;
  }
  .showleft {
    -webkit-animation: slideinleft 0.7s ease-in forwards;
            animation: slideinleft 0.7s ease-in forwards;
  }
  .hideright {
    -webkit-animation: slideoutright 0.7s ease-in forwards;
            animation: slideoutright 0.7s ease-in forwards;
  }
  .showright {
    -webkit-animation: slideinright 0.7s ease-in forwards;
            animation: slideinright 0.7s ease-in forwards;
  }

  .hidden {
    transform:translateX(100vw);
    transition-delay: 1s;
    visibility: hidden;

  }

  .settingsscreen {
    /* display:grid; */
    font-size: 1.4rem;
    text-align: center;
    transform:translateX(-200%);
    width: clamp(300px, 70%, 900px);
    max-height: 80%;
  }
.btn:hover {
    cursor:pointer;
}
#message {
    color: white;
    position:absolute;
    text-align: center;
    top: -50px;
    width: 100%;
}

.endgame {
    align-items: center;
    background-color: rgba(0, 0, 0, 0.196);
    display:flex;
    grid-column: 1/13;
    grid-row: 2/10;
    height: 100%;
    justify-content: center;
    position: relative;
    transition: all 0.7s linear;
    width: 100%;
    z-index: 7;
}

.win, .lose, .draw {
    background-color: rgba(0, 0, 0, 0.196);
    color: white;
    height: 50%;
    position: absolute;
    transition: all 0.7s linear;
    width: 70%;

}
.flexdiv {
    align-items: center;
    /* border:3px solid rgb(84, 6, 120); */
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content:center;
}

/* switch button */

.toggle {
    --width: 80px;
    --height: calc(var(--width) / 3);
    border-radius: var(--height);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    display: inline-block;
    height: var(--height);

    position: relative;
    width: var(--width);
  }

  .toggle input {
    display: none;
  }

  .toggle .slider {
    background-color: #ccc;
    border-radius: var(--height);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transition: all 0.4s ease-in-out;
    width: 100%;
  }

  .toggle .slider::before {
    background-color: #fff;
    border-radius: calc(var(--height) / 2);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
    content: '';
    height: calc(var(--height));
    left: 0;
    position: absolute;
    top: 0;
    transition: all 0.4s ease-in-out;
    width: calc(var(--height));
  }

  .toggle input:checked+.slider {
    background-color: #2196F3;
  }

  .toggle input:checked+.slider::before {
    transform: translateX(calc(var(--width) - var(--height)));
  }

  .toggle .labels {
    display:flex;
    align-items: center;
    font-size: 12px;
    height: 100%;
    left: 0;
    position: absolute;
    transition: all 0.4s ease-in-out;
    width: 100%;
  }

  .toggle .labels::after {
    color: #4d4d4d;
    content: attr(data-off);
    opacity: 1;
    position: absolute;
    right: 5px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
    transition: all 0.4s ease-in-out;
  }

  .toggle .labels::before {
    color: #ffffff;
    content: attr(data-on);
    left: 5px;
    opacity: 0;
    position: absolute;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.4);
    transition: all 0.4s ease-in-out;
  }

  .toggle input:checked~.labels::after {
    opacity: 0;
  }

  .toggle input:checked~.labels::before {
    opacity: 1;
  }
.flexdiv2 {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    
}
  .flexdiv > fieldset {
    border: none;
    display: flex;
    flex-flow: column nowrap;
  }

  .markerdiv, .colordiv {
    display:grid;
    font-size: 2rem;
    gap: 5px;
    grid-template-columns: repeat( auto-fit, minmax(30px, 1fr) );
    grid-template-rows: 1fr;
    width: 100%;
}

.settingscolor, .settingsmarker {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    border: 2px solid black;
    cursor: pointer;
    border-radius: 4px;
    height: 2rem;
    width: 2rem;
}


label {
    margin: 0.7rem;
}

.selectedOption {
    border: 2px solid red;
}